*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

  img{
    max-width: 100%;
  }

header{
  height: 600px;
}

#header-top{
  height: 80px;
  background-color: #3161E0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.d-flex{
  display: flex;
}

.debug{
  border: 1px dotted rgb(250, 248, 248);
}

.button-type{
  padding: 8px 10px;
  border-radius: 25px;
  border: none;
}

.big-button{
  padding: 15px 30px;
  font-size: 1em;
}

.centrato{
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
}

header .logo{
  justify-content: flex-start;
}

header nav{
  /* background-color: #DAA53B ; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 600px
  /* padding: 0 10px; */
  
}
.container{
  max-width: 80%;
  margin: 0 auto;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
}

#header-top nav ul li{
  padding:  0 12px;
  color: white;
}



.login{
  justify-content: flex-end;
}


#jumbotron{
  height: 520px;
  width: 100%;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  display: flex;
  align-items: center;
}

.titolo{
  height: 415px;
  width: 950px;
  /* background-color: #ee82ee50;debug */
  text-align: center;
  color: white;
}

.titolo h1{
  font-size: 3em;
  padding-top: 35px;
}

.titolo p{
  margin-top: 40px;
  margin-bottom: 20px;
  /* font-weight: bold; */
}

.black-button{
  background-color: #23272A;
  color: white;
}

.titolo div button{
  margin: 0 10px;
}
/* FINE HEADER */


/* main */
section{
  height: 620px;
  
}

.img{
  height: 500px;
  width: 70%;
  /* background-color: #2A8FF7; */
}

h2{
  font-size: 3em;
}

.testo{
  padding-top: 30px;
  height: 500px;
  width: 30%;
  /* background-color: #F6BFCA */
}

p{
  margin-top: 20px;
  font-size: 1.2em;
}

.sezione{
  height: 620px;
  display: flex;
  align-items: center;
}

.reverse{
  flex-direction: row-reverse;
}

section.sfondo-grigio{
  background-color: #F6F6F6
}

/* BIG SECTION */
section.big-section{
  height: 1045px;
}

.sezione-grande{
  height: 1045px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testo-grande{
  text-align: center;
  margin-top: 100px;
}

.testo-grande h2{
  font-size: 2.5em;
}

.testo-grande p{
  font-size: 1em;
}

.big-img{
  width:100% ;
  height: 935px;
  /* background-color: #3F8B24; */
}

.big-img > img{
  margin-left: 150px;
}

.big-img h3{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.big-img .stelle{
  display: flex;
  justify-content: center;
}

.big-img button{
  color: white;
  background-color: #8EA1E1;
  padding: 15px 20px;
  margin: 0 490px
}

/* Footer */
.sfondo-scuro{
  background-color: #23272A;
}


.top-footer{
  height:620px ;
  display: flex;
  padding-top: 5px;
  border-bottom: 1px solid white;
}



.social{
  width: 370px;
  height: 580px;
  background-color: #F08080;
  border: 1px dotted black;
}

footer .menues nav{
  width: 150px;
  height: 580px;
  border: 1px dotted white;
  background-color: #4DB3AB;
}

.top-footer .container{
  display: flex;
  
}

.bottom-footer{
  background-color: #7CF8D3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  width: 100%;
  margin-top: 20px;
  
  
}

.logo-footer, .registrazione{
  background-color: #F5B6C1;
  border: 1px dotted black ;
  padding: 0 10px;
}